// iphone 11 pro
.iphone-11-pro {
    background: url('src/assets/img/hero/iphone-11-pro/iphone_11_pro_large.jpg');
    margin-top: 4.4rem;
}

.title {
    color: #fff;
    text-align: center;
    padding: 5.5rem;
}

.title-heading {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading {
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price {
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}

// iphone 11
.iphone-11 {
    background: url('src/assets/img/hero/iphone-11/iphone_11_large.jpg');
}

.title-darker {
    color: #000;
}

.hero {
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}

.iphone-11-pro {
    border-top: none;
}